a {
    color: var(--white);
    text-decoration: none;
}

body {
    background-color: var(--black);
    color: var(--white);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    font-family: var(--font-family-text);
    line-height: 24px;
}

.title-partenaires {
    margin-top: 80px;
}

.main__title {
    font-size: 32px;
    font-family: Montserrat;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.main__text {
    font-size: 20px;
}

.attente__left-title {
    font-size: 18px;
    font-family: var(--font-family-text);
    margin-bottom: 25px;
}

.attente__text {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
}

.attente__footer-text {
    color: var(--orange);
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.info_text {
    font-size: 20px;
}

.section__infos {
    margin-bottom: 70px;
    margin-top: 50px;
}

.info__link {
    text-decoration: underline;
}

.main__title-autre {
    font-size: 20px;
    font-family: Raleway;
    text-align: center;
    margin-top: 50px;
}

.reservation__text {
    font-size: 20px;
    text-align: center;
}

.reservation__item {
    font-size: 20px;
    font-family: Raleway;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 400;
}

.reservation__conditions-infos {
    font-size: 14px;
    font-family: Raleway;
    font-weight: 300;
}

.panier__title {
    text-align: center;
    font-family: var(--font-family-text);
    margin-bottom: 70px;
    margin-top: 40px;
}

.article__header-name {
    text-align: center;
    font-family: Montserrat;
    padding-top: 50px;
    margin-bottom: 50px;
    width: 250px;
    margin: 0 auto;
}

.article__header-metier {
    text-align: center;
}

.small {
    font-size: 24px;
}

.section__desc {
    font-size: 20px;
    width: 300px;
    margin-left: 23px;

}

.article__header-metier {
    font-size: 14px;
    font-style: italic;
}

.liste__apparitions {
    font-family: Raleway;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
}


.article__info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
}

.article__header-info {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}