.partenaires__container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.partenaires__img {
    width: 150px;
}

.intro-place__spider {
    width: 200px;
    position: absolute;
    left: 0;
    top: 1150px;
}

.intro-reservation__murderer {
    width: 200px;
    position: absolute;
    right: 0;
    top: 1500px;
    margin-right: 30px;
}