.footer {
    background-color: var(--black);
    color: var(--white);
    margin-top: 100px;
}

.footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
    padding-top: 22px;
    border-bottom: 1px solid var(--white);
}

.footer__item:first-child {
    border-top: 1px solid var(--white);
}

.footer__link {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 16px;
}

.footer__container-social {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}


.footer__social-img {
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
}

.footer__text {
    font-family: var(--font-family-title-page);
    text-align: center;
    font-size: 9px;
    width: 185px;
    margin: 0 auto;
    font-weight: lighter;
    padding-bottom: 40px
}