.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-home {
    padding: 0;
    margin: 0;
}

.header__logo-img {
    width: 70px;
}

.header__end {
    display: flex;
    gap: 30px;
    margin-right: 12px;
}