.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;

}

.header__home {
    padding-left: 0px;
    padding-right: 0px;
}

.header__end {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}

.header__logo-img {
    width: 70px;
}

.header__shopping-img {
    width: 34px;
    height: 31px;
}