.section__categorie {
    padding: 0;
    margin-bottom: 20px;
}

.categorie__restriction {
    font-family: var(--font-family-title);
    font-size: 25px;
    text-align: center;
}

.carrousel-films {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    gap: 22px;
    margin-bottom: 12px;
    scroll-snap-type: x mandatory;
}

.carrousel__img-film {
    width: 90px;
}

.prev-squelette {
    position: relative;
    top: 0;
    left: 35px;
    width: 60px;
}

.next-squelette {
    position: relative;
    top: 0;
    left: 225px;
    rotate: 180deg;
    width: 60px;
}