.accordeon details {
    margin: 10px 0;
    max-height: auto;
}

.accordeon summary {
    font-family: var(--font-family-text);
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: var(--black);
}

.accordeon details[open] summary {
    transition: all 0.4s ease-out;
}

.faq__reponse {
    font-family: var(--font-family-text);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 2px solid #ddd;
    color: var(--black);
}