.container__list-films {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
}

.film__img {
    width: 100px;
    height: 125px;
    object-fit: cover;
}

.liste-films__legaltext {
    font-family: var(--font-family-text);
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}



.film__change-page {
    position: relative;
    left: 275px;
    font-family: Raleway;
    font-size: 20px;
    color: gray;
}