.menu {
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-image: url(/assets/images/fond-menu-image.webp);
    background-size: cover;
    color: var(--white);
    bottom: 0;
    transform: translate(-100%);
    transition: right 0.3s ease;
    /* Animation pour le "slide" */
    z-index: 900;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: start;
    height: 100%;
    z-index: 1;
}

.menu__item {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    margin-left: 50px;
    transition: padding-left 0.2s ease-in-out;
}

.menu__item:hover {
    padding-left: 10px;
}


.menu-btn {
    background-color: transparent;
    border: none;
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
    transition: transform 0.3s ease, visibility 0s;
}

body.noscroll {
    overflow: hidden;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: var(--black);
    background: var(--white);
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--white);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}