.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: var(--black);
    color: var(--white);
    flex-direction: column;
    justify-content: space-between;
}


.menu-btn {
    background-color: transparent;
    border: none;
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: var(--black);
    background: var(--white);
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}