.section {
    padding-left: 25px;
    padding-right: 25px;
}

.section__hero {
    background-image: url(/assets/images/hero-image.webp);
    background-size: cover;
    color: var(--white);
    height: 1000px;
}

.section__films-une {
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    padding-bottom: 70px;
}

.container__intro-festival {
    padding-left: 25px;
    padding-right: 25px;
}

.section__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section__header-title {
    font-family: var(--font-family-title);

}