.section {
    padding-left: 25px;
    padding-right: 25px;
}

.section__hero {
    background-image: url(/assets/images/hero-image.webp);
    background-size: cover;
    color: var(--white);
    height: 1000px;
}

.container__intro-festival {
    background-color: var(--white);
    color: var(--black);
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: Raleway;
    padding-bottom: 70px;
}

.intro-place__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.intro-place__title {
    font-size: 20px;
    width: 250px;
    text-align: center;
    margin-left: 90px;
    margin-bottom: 5px;
    margin-top: 25px;
}

.intro-place__line {
    position: absolute;
    top: 920px;
    left: 72px;
    width: 2px;
    height: 292px;
    background-color: black;
    z-index: 1;
}



.intro-place__desc {
    width: 260px;
    text-align: center;
    font-size: 16px;
    margin-left: 90px;
}

.intro-reservation_title {
    width: 300px;
    font-size: 20px;
    margin-bottom: 22px;
}

.intro-reservation__question {
    width: 350px;
    font-size: 16px;
}

.intro-reservation__desc {
    width: 230px;
    font-size: 16px;
    margin-bottom: 30px;
}






.section__films-une {
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    padding-bottom: 70px;
}

.section__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section__header-title {
    font-family: var(--font-family-title);
    font-size: 28px;

}

.section__tarifs {
    background-color: var(--white);
    color: var(--black);
}

.section__partenaires {
    background-color: var(--white);
    color: var(--black);
    margin-bottom: 120px;
}

.attente__container {
    display: flex;
    justify-content: center;
    height: 325px;
}