@import url(/src/css/vendors/normalize.css);

.section__hero {
    background-color: black;
    color: white;
}

.section__films-une {
    background-color: black;
    color: white;
}

.footer {
    background-color: black;
    color: white;
}